/* some custom css to style it more towards our theme */
.bg-red {
  background-color: #1f1c1c!important;
}

.navbar .nav-link {
  color: #fff !important;
}

.navbar .nav-link:hover {
  color: #f8f9fa !important; 
  text-decoration: underline; 
}

body {
  background-color: #313030; 
  color: #f5f5f5; 
}

.btn {
  background-color: #56565a;
  border: none;
  color: #fff;
}