/* some custom css to style it more towards our theme */
.bg-red {
  background-color: #145885!important;
}

.navbar .nav-link {
  color: #fff !important;
}

.navbar .nav-link:hover {
  color: #f8f9fa !important; 
  text-decoration: underline; 
}

body {
  background-color: transparent; 
  color: #145885; 
}

.btn {
  background-color: #145885;
  border: none;
  color: #fff;
}