{% extends 'base.html' %}
{% block title %}Edit asset{% endblock %}
{% block content %}
<h2>Edit asset</h2>
<form method="POST">
  {{ form.hidden_tag() }}

  <div class="mb-3">
    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.asset_tag.label(class="form-label") }}
    {{ form.asset_tag(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.asset_type.label(class="form-label") }}
    {{ form.asset_type(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.location.label(class="form-label") }}
    {{ form.location(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.submit(class="btn btn-primary") }}
  </div>
</form>
<a class="btn btn-secondary btn-danger mt-4" href="{{ url_for('admin.admin_dashboard') }}">Back</a>
{% endblock %}
